<div id="page-content">
    <div class="rounded-3" id="jumbotron">
      <div class="container-fluid py-3">
        <div class = "text-background rounded-3 py-3 px-3">
          <h1 class="display-5 fw-bold">Utah Trail Review</h1>
          <p class="fs-4">Report trail maintenance status by signing up.</p>
          <button class="btn btn-primary btn-lg" type="button">Sign up</button>
        </div>
      </div>
    </div>
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Mitchell Kucy", "http://mitchellkucy.ddns.net", class: "text-white"%></small>
  </div>
</footer>
