<div id="page-content">
    <div class="rounded-3" id="jumbotron">
      <div class="container-fluid py-3">
        <div class="card col-5 p-3" id="signup">
          <h1 class="card-title font-weight-bold">Utah Trail Review</h1>
          <h3 class="card-text">Report trail maintenance status by signing up.</h3>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary btn-lg col-4" type="button">Sign up</button>
          </div>
        </div>
      </div>
    </div>
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Mitchell Kucy", "http://mitchellkucy.ddns.net", class: "text-white"%></small>
  </div>
</footer>
