@import 'bootstrap/dist/css/bootstrap';

#wholePage{
  margin: 0 0;
}

.navbar {
  background-color: #FDF6EA !important;
  background-color: black !important;
}


.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

// #home-container {
//   margin-top: 25px;
// }

#jumbotron {
  background-image: asset-url('Utah_Arch.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#signup{
  background-color: rgba(255,255,255,.5);
  margins: 0,0;
  float: right;
}

#about{
  background-color: rgba(255,255,255,.8);
}

#about-text{
  line-height: 200%;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
#sticky-footer {
  flex-shrink: none;
} 

.btn{
  color: white !important;
}

.btn-primary{
  background-color: #ff9152;
  color: white !important;
  border-color: #ff9152;
}

.btn-primary:active{
  background-color: lightgreen !important;
}

.btn-primary:focus{
  background-color: lightgreen !important;
}

.btn-primary:hover{
  background-color: #ffa374;
  border-color: #ffa374;
}

.btn-outline-primary{
  color: #ff9152 !important;
  border-color: #ff9152;
}

.btn-outline-primary:hover{
  background-color: #ff9152;
  color: white !important;
  border-color: #ff9152;
}



// pagination style
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
      
      
